@use './variables' as v;

.bitcoinContainer {
  position: fixed;
  top: 18%;
  left: 55%;
  transform: translateX(-50%);
  width: 100vw;
  height: 50vh;
  z-index: 1;
}


// Optional: Partikel-Overlay für Glanzeffekte
.glowOverlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(v.$primary-color, 0.15) 0%, transparent 30%);
  z-index: 0;
}