$primary-color: #F7931A; // Bitcoin-Orange
$secondary-color: #1A1A1A; // Tiefgrauer Hintergrund
$text-color: #ffffff;      // Weißer Text
$hover-color: #d18f00;     // Orange-Hover-Effect
$subtitle-color: #ccc;      // Grauer Untertitel
